<div style="">
  <table style=" border-collapse: collapse; width: 100%;" border="1">
    <tbody>
      <tr>
        <td
        rowspan="2"
        style="width:30%; height:100px; padding:6px;">
            <img src="http://hhlogisticsgroup.com/theme/images/navy-darkblue_dark.png" alt="" width="200" height="100">
        </td>
        <td style="height:10px; text-align: center;">
            <div style="font-weight:bold">
              <h3>H&H LOGISTICS CO., LIMITED</h3>
              <p>1205, 12/F, Tai Sang Bank Bldg, 
                  130 - 132 Des Voeux Road, Central,
                  Hong Kong</p>
              <p>Contact No: +186 7644 0927,  Email Id: support@hhlogisticsgroup.com,  Website : www.hhlogisticsgroup.com</p>
            </div>
          </td>
      </tr>
      <tr>
          
      </tr>
      <tr>
        <td style="width:30%; height:100px; padding:6px;">
            <h5>Shippig Agent / Forwording Agent</h5>
            <div style="margin-top:4px; font-weight:bold;">

                6500 Trans Canada Highway, <br />
                4th Flooor, Pointe-Claire, Quebec, <br />
                CANADA - H9R 0A5
              </div>
        </td>
        <td colspan="2" style="text-align: center;">
          <h3 style="margin-top:4px; font-weight:bold;">COMMERCIAL INVOICE</h3>
          <div style="margin-top:4px; font-weight:bold;">
              Invoice No: <br />
              Invoice Date: <br />
              Cutomer No: <br>
            </div>
        </td>
      </tr>
      <tr>
          <td style="width:30%; height:100px; padding:6px;">
              <h5>Notify Party / Shipping Agent - Routing & Instructions</h5>
              <div style="margin-top:4px; font-weight:bold;">
                  6500 Trans Canada Highway, <br />
                  4th Flooor, Pointe-Claire, Quebec, <br />
                  CANADA - H9R 0A5
                </div>
          </td>
          <td colspan="2" style="text-align: center;">
            <h5>Notify Consignee</h5>
            <div style="margin-top:4px; font-weight:bold;">
                Invoice No: <br />
                Invoice Date: <br />
                Cutomer No: <br>
              </div>
          </td>
        </tr>
    </tbody>
  </table> 
  <br>
  <table style=" border-collapse: collapse; width: 100%; height: fit-content;" border="1">
    <th style="border-collapse: collapse; width: 20%">PARTICULAR</th>
    <th style="border-collapse: collapse; width: 20%">ITEM</th>
    <th style="border-collapse: collapse; width: 12%">Quantity/Weight</th>
    <th style="border-collapse: collapse; width: 12%">Unit</th>
    <th style="border-collapse: collapse; width: 12%">Unit Price (USD$)</th>
    <th style="border-collapse: collapse; width: 12%">Amount (USD$)</th>
    <th style="border-collapse: collapse; width: 12%">Amount()</th>
    <tbody>
      <tr class="noBorder">
        <td rowspan="4">
          sdfsafs
          d
          fs
          fds
          sd
          fas
          sdf
          sdfs
          sdfs
          sdfs
          dfsdf
          dsfsd
          jgfjhsdgfjhsgdjhsgfjhsgfhjsgfjhsfgsjhgfsjhgfjhsgfjhsgfjhsgfs 
          dsfsfssdf  f sd
          sdfdsf 
          dsf 
          dsfsf 
          sdfsf 
          sdfs 
          sdfsd
          sdfsdfsfsdf
        </td>
        <!-- <td style="visibility: hidden"></td>
        <td style="visibility: hidden"></td>
        <td style="visibility: hidden"></td>
        <td style="visibility: hidden"></td>
        <td style="visibility: hidden"></td>
        <td style="visibility: hidden"></td> -->
      </tr>
      <tr class="noBorder">
          <td >fds</td>
          <td>dsfs</td>
          <td>df</td>
          <td>dsfs</td>
          <td>dsfs</td>
          <td>sdfsd</td>
        </tr>
        <tr class="noBorder">
          <td >fds</td>
          <td>dsfs</td>
          <td>df</td>
          <td>dsfs</td>
          <td>dsfs</td>
          <td>sdfsd</td>
        </tr>
        <tr class="noBorder">
          <td >fds</td>
          <td>dsfs</td>
          <td>df</td>
          <td>dsfs</td>
          <td>dsfs</td>
          <td>sdfsd</td>
        </tr>
    </tbody>
  </table>

</div>
